@model SimpleCQRS.InventoryItemDetailsDto
@{
    Layout = "_Layout";
}
<h2>details</h2>
id: @Model.Id<br />
name: @Model.Name<br />
count: @Model.CurrentCount<br /><br />
@Html.ActionLink("rename","changename", new{Id=@Model.Id})<br />
@Html.ActionLink("deactivate","deactivate",new{Id=@Model.Id})<br />
@Html.ActionLink("check in","checkin", new{Id=@Model.Id})<br />
@Html.ActionLink("remove","remove", new{Id=@Model.Id})

